.footer{
    // background-image: url("../../../../assets/images/Wave_White_top.png");
    background-color:rgb(2, 40, 90);
    padding: 8px;
    h5{
    color: white;
    font-size: 17px;
    // line-height: 34px;
    font-family: system-ui;
    margin: 2% 0%;
    text-align: center;
    }

}