<div class="navbar sticky-top" id="navbar">
    <div class="container">
        <div class="d-flex w-100 mt-3 mb-3">
            <div class="ml-3" style="width:3%">
                <a href="" routerLink="/home">
                <div class="logo">
                    <img src="assets/images/1.png" alt="">
                </div>
            </a>
            </div>
            <div class="" style="width:97%">
                <ul class="">
                    <li><a href="" routerLink="/home">Home</a></li>
                    <!-- <li><a href="">Programs</a></li> -->
                    <li><a href="" routerLink="/school">Schools</a></li>
                    <!-- <li><a href="">About</a></li>
                    <li><a href=""><button>Login</button></a></li> -->
                    
                    
                   
                    
                     <div class="clearFix"></div>

                </ul>
                <mat-icon [matMenuTriggerFor]="menu">menu</mat-icon>
                <mat-menu #menu="matMenu">
                        <a mat-menu-item href="">Home</a>                    
                        <a mat-menu-item href="">Programs</a>
                        <a mat-menu-item href="">Schools</a>
                        <a mat-menu-item href="">About</a>
                        <a mat-menu-item href=""><button>Login</button></a>
                    </mat-menu>
            </div>

        </div>
    </div>
</div>